{
    "env": {
        "amd": false,
        "applescript": false,
        "atomtest": false,
        "browser": false,
        "commonjs": false,
        "embertest": false,
        "es6": true,
        "greasemonkey": false,
        "jasmine": false,
        "jest": false,
        "jquery": false,
        "meteor": false,
        "mocha": false,
        "mongo": false,
        "nashorn": false,
        "node": true,
        "phantomjs": false,
        "prototypejs": false,
        "protractor": false,
        "qunit": false,
        "serviceworker": false,
        "shared-node-browser": false,
        "shelljs": false,
        "webextensions": false,
        "worker": false
    },
    "parserOptions": {
        "ecmaFeatures": {
            "arrowFunctions": true,
            "binaryLiterals": true,
            "blockBindings": true,
            "classes": true,
            "defaultParams": true,
            "destructuring": true,
            "experimentalObjectRestSpread": true,
            "forOf": true,
            "generators": true,
            "globalReturn": true,
            "impliedStrict": true,
            "jsx": true,
            "modules": true,
            "objectLiteralComputedProperties": true,
            "objectLiteralDuplicateProperties": true,
            "objectLiteralShorthandMethods": true,
            "objectLiteralShorthandProperties": true,
            "octalLiterals": true,
            "regexUFlag": true,
            "regexYFlag": true,
            "restParams": true,
            "spread": true,
            "superInFunctions": true,
            "templateStrings": true,
            "unicodeCodePointEscapes": true
        },
        "ecmaVersion": 9,
        "sourceType": "module"
    },
    "rules": {
        "array-bracket-spacing": 2,
        "arrow-body-style": 2,
        "arrow-parens": 2,
        "arrow-spacing": 2,
        "brace-style": 2,
        "camelcase": 0,
        "comma-dangle": 2,
        "comma-spacing": 2,
        "comma-style": 2,
        "default-case": 2,
        "dot-notation": 2,
        "eol-last": 2,
        "eqeqeq": 2,
        "func-names": 2,
        "generator-star-spacing": 2,
        "getter-return": 2,
        "id-length": 0,
        "indent": 2,
        "jsx-quotes": 2,
        "lines-around-comment": 2,
        "no-alert": 2,
        "no-cond-assign": 2,
        "no-console": 0,
        "no-constant-condition": 2,
        "no-const-assign": 2,
        "no-control-regex": 2,
        "no-debugger": 2,
        "no-dupe-args": 2,
        "no-dupe-class-members": 2,
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "no-else-return": 2,
        "no-empty": 2,
        "no-empty-character-class": 2,
        "no-eq-null": 2,
        "no-eval": 0,
        "no-ex-assign": 2,
        "no-extra-bind": 2,
        "no-extra-boolean-cast": 2,
        "no-extra-parens": 2,
        "no-extra-semi": 2,
        "no-func-assign": 2,
        "no-implicit-coercion": 2,
        "no-inner-declarations": 2,
        "no-invalid-regexp": 2,
        "no-irregular-whitespace": 2,
        "no-lonely-if": 2,
        "no-multiple-empty-lines": 2,
        "no-nested-ternary": 0,
        "no-new-object": 2,
        "no-obj-calls": 2,
        "no-redeclare": 2,
        "no-regex-spaces": 2,
        "no-spaced-func": 2,
        "no-sparse-arrays": 2,
        "no-trailing-spaces": 2,
        "no-undef": 2,
        "no-unexpected-multiline": 2,
        "no-unused-expressions": 2,
        "no-unused-labels": 2,
        "no-useless-computed-key": 2,
        "no-useless-constructor": 2,
        "no-useless-rename": 2,
        "no-var": 2,
        "object-shorthand": 2,
        "one-var": 2,
        "padded-blocks": 2,
        "prefer-arrow-callback": 2,
        "prefer-const": 2,
        "prefer-rest-params": 2,
        "prefer-spread": 2,
        "prefer-template": 2,
        "quotes": [
            2,
            "backtick"
        ],
        "rest-spread-spacing": 2,
        "semi": 2,
        "semi-spacing": 2,
        "sort-keys": 2,
        "sort-vars": 0,
        "space-after-keywords": 0,
        "space-before-blocks": 2,
        "space-before-function-paren": 2,
        "space-before-keywords": 0,
        "space-in-parens": 2,
        "template-curly-spacing": 2,
        "use-isnan": 2,
        "valid-jsdoc": 2,
        "valid-typeof": 2,
        "yield-star-spacing": 2
    }
}